.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {
    color: #ED8C3F;
    font-size: 128px;
    margin-bottom: 0;
  }
  img {
    margin: 25px;
    width: 250px;
    max-width: 100%;
  }
}