.answer {
    background: #fff;
    margin: 15px 0;
}

.question-container,
.answer-container,
.comment-container {
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 12px 8px;
    min-height: 100px;
    overflow: hidden;
    width: 100%;
}

.question-container .question-summary,
.answer-container .answer-summary,
.comment-container .comment-summary {
    padding-left: 5px;
    padding-right: 5px;
}

.question-container .question-text,
.question-container .question-summary,
.answer-container .answer-text,
.answer-container .answer-summary,
.comment-container .comment-text,
.comment-container .comment-summary {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.question-container .question-title {
    color: #3c4146;
    font-size: 27px;
}

.question-container .question-body,
.answer-container .answer-body,
.comment-container .comment-body {
    background: #f6f6f6;
    color: #242729;
    overflow: auto;
    padding: 10px;
    height: auto;
    width: 100%;
    max-height: 400px;
}

.question-container .tag {
    background: #e1ecf4;
    border-radius: 2px;
    color: #39739d;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    line-height: 1;
    height: max-content;
}

.question-container .question-rate,
.answer-container .answer-rate,
.comment-container .comment-rate {
    color: #6a737c;
    display: flex;
    text-align: center;
    font-size: 21px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}

.comment-container .comment-rate {
    font-size: 18px;
}

.question-container .question-rate p,
.answer-container .answer-rate p {
    margin: 5px;
}

.comment-container .comment-rate p {
    margin: 0;
}

.question-container .question-numbers {
    color: #6a737c;
}

.question-container .question-numbers span {
    margin-right: 15px;
}

.question-container .tags-and-user-info,
.answer-container .addition-answer-info,
.comment-container .addition-comment-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.question-container .user-info,
.answer-container .user-info,
.comment-container .user-info {
    align-items: center;
    display: flex;
    text-align: right;
    flex-direction: row;
    flex-wrap: wrap;
}

.question-container .user-info > *,
.answer-container .user-info > *,
.comment-container .user-info > * {
    margin-right: 10px;
}

.action-button {
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70px;
    height: 30px;
}

.comment-rate .action-button {
    width: 50px;
    height: 20px;
}

.answer-container .addition-answer-info p {
    margin: 0;
}

.answer-container .addition-answer-info {
    align-items: flex-end;
}

.tags-and-user-info .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Comments */

.comments {
    margin: 10px;
    background: #fff;
    width: 100%;
}

.toggle-container {
    text-align: center;
    padding: 5px 0;
}

.comments-toggler {
    color: #6a737c;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.comment-container {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-left: auto;
    width: 95%;
}

.comment-container .comment-body {
    max-height: 120px;
    margin-bottom: 5px;
}

.comments .load-more-container {
    margin: 10px 0 !important;
}

.comments .load-more-container * {
    color: #6a737c;
}

/* */

.action-button:hover {
    background: rgba(255, 165, 0, 0.8);
}

.rated {
    background: orange;
}

.action-button img {
    width: auto;
    height: 100%;
}

.top-img {
    transform: rotate(180deg);
}

.answers h2 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 0;
}

.questions-container .sort-by-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.tick {
    width: 30px;
    height: 30px;
    margin: 0 auto 5px auto;
}

@media (max-width: 768px) {
    .question-container .question-rate,
    .answer-container .answer-rate,
    .comment-container .comment-rate {
        font-size: 15px;
        padding: 2px;
    }
    .question-container .action-button,
    .answer-container .action-button,
    .comment-container .action-button {
        width: 45px;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}