.user-info-sector {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.info-block {
    background: #fff;
    border-radius: 0 0 9px 9px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 100%;
}

.info-block > div {
    padding: 10px;
}

.drop-down-button {
    border-radius: 2px;
    box-shadow: none !important;
    font-family: 'Gotham Pro Regular', Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding-left: 15px;
    width: 100%;
    height: 50px;
    background-color: #dedede;
    position: relative;
}

.drop-down-button:before {
    transition: 0.2s;
    background-image: url("/images/down-arrow.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: right 15px center;
    content: "";
    position: absolute;
    right: 0;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
}

.drop-down-button[aria-expanded="true"] {
    border-radius: 2px 2px 0 0;
}

.drop-down-button[aria-expanded="true"]:before {
    transform: rotate(180deg);
}

.list-item {
    background: #eee;
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .user-info-sector {
        grid-template-columns: 1fr 1fr;
    }
}