.questions-container {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    width: 100%;
}

.question-element * {
    background: #fff;
}

.question-element {
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 12px 8px;
    margin: 10px 0;
    min-height: 150px;
    width: 100%;
}

.question-element .stats-container {
    color: #6a737c;
    display: block;
    text-align: center;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 16px;
    width: auto;
    height: auto;
}

.question-element .stats-container * {
    display: block;
}

.question-element .stats-container strong {
    font-size: 30px;
    font-weight: 400;
}

.question-element .stats-container .status {
    padding: 0 0 5px;
    border-radius: 3px;
    margin-bottom: 4px;
}

.question-element .stats-cont   ainer .views {
    padding-top: 4px;
}

.question-element .summary {
    border-left: 1px solid #eff0f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding-left: 15px;
    width: 100%;
}

.question-element .summary h3 {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: .5em;
    word-wrap: break-word;
    word-break: break-word;
}

.question-element .started {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.question-element .tag {
    background: #fafafa;
    border-radius: 2px;
    padding: 5px;
    margin-right: 5px;
}

.question-element .user-info {
    align-items: center;
    display: flex;
    text-align: right;
    flex-direction: row;
}

.question-element .user-info > * {
    margin-right: 10px;
}

.question-element .answered {
    color: #377D21;
}

@media (max-width: 576px) {

}