.users-container {
    display: grid;
    grid-gap: 20px;
}


.user-element {
    background: #fff;
    min-height: 150px;
    width: auto;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.user-element a {
    font-size: 18px;
}

.user-element .image-block {
    margin-bottom: 10px;
}

.user-element .image-block img {
    width: 100px;
    height: 100px;
}

.user-element .user-reputation {
    margin: 0 0 1px 0;
}
.user-element p {
    margin: 0 0 5px 0;
}

.user-element .badges {
    text-align: center;
}

.user-element .badges span {
    position: relative;
    margin: 0 8px 7px 8px;
}

.user-element .badges span:after {
    background: #fff;
    border-radius: 50%;
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    right: -10px;
    top: 5px;
}

.user-element .badges .gold-badge:after {background: #ffd700}
.user-element .badges .silver-badge:after {background: #c0c0c0}
.user-element .badges .bronze-badge:after {background: #cd7f32;}

/* media rules */

@media (min-width: 576px) {
    .users-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .users-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .users-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/* max width */
@media (max-width: 576px) {
    .users-container {
        grid-template-columns: 1fr;
    }
}
